<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Products Table</title>
    <style id="elementUiStyle">
        @import url("//unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css");        
    </style>
    
    <link href="src/assets/bootstrap.min.css" rel="stylesheet" />
    <link href="src/assets/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="src/assets/ProductsTable.css" rel="stylesheet" />
</head>
<body class="products-table-body" style="padding-top: 2rem; padding-bottom: 2rem;">
    <main>
        <section class="crid-sec">
            <script src="//unpkg.com/vue@2/dist/vue.js"></script>
            <script src="//unpkg.com/element-ui@2.15.14/lib/index.js"></script>
            <script src="//unpkg.com/axios/dist/axios.min.js"></script>
            <div id="app">
                <section class="products-manager-sec products-grid-sec">
                    <h3>Products Table</h3>            
                    <template>
                        <el-table :data="!search ? gridCurrentPageData : gridFullData
                            .filter(rowData => rowData.name.toLowerCase().includes(search.toLowerCase()) || 
                                (rowData.code == search))"
                            ref="productsTable"
                            row-key="code" 
                            highlight-current-row
                            @current-change="handleCurrentChange"
                            @sort-change="handleSortChange" 
                            style="width: 100%">

                            <el-table-column sortable label="Code"
                                            prop="code">
                            </el-table-column>
                            <el-table-column sortable label="Name"
                                            prop="name">
                            </el-table-column>
                            <el-table-column sortable label="Description"
                                            prop="description">
                            </el-table-column>
                            <el-table-column sortable label="Sales Start Date"
                                            prop="salesStartDate">
                            </el-table-column>
                            <el-table-column label="Image"
                                            prop="image">
                            </el-table-column>
                            <el-table-column align="right">
                                <template slot="header" slot-scope="scope">
                                    <el-input v-model="search"
                                            size="small"
                                            placeholder="Search Code/Name" />
                                </template>
                                <template slot-scope="scope">
                                    <!--<el-button size="mini"
                                            @click="handleEdit(scope.$index, scope.row)">Edit</el-button>-->
                                    <el-button size="mini"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <br>
                        <div style="text-align: center" v-show="!search">
                            <el-pagination background
                                        layout="prev, pager, next"
                                        @current-change="handleCurrentChange"
                                        :current-change="handleCurrentChange"
                                        :hide-on-single-page="true"
                                        :page-size=pageSize 
                                        :current-page="currentPageIndex"
                                        :total=this.gridFullData.length>
                            </el-pagination>
                        </div>
                        <section class="products-manager-sec products-fieldset-sec">
                            <h3>Product Data</h3>
                            <table class="products-fieldset-table">
                                <tr>
                                    <td style="width:40%">
                                        <div class="product-cont">
                                            <div class="fieldset-cont">                                    
                                                <fieldset id="productFieldSet" class="product-fieldset" >
                                                    <!--<legend></legend>-->                                                                                                
                                                    <label for="txtCode" >Code:</label>
                                                    <input type="text" id="txtCode" name="Code" v-model="crudRow.code"
                                                        class="product-field primary-key-input" readonly title="this field is read only"  /><br /><br />
                                                    <label for="txtName" >Name:</label>
                                                    <input type="text" id="txtName" name="Name" v-model="crudRow.name"
                                                        class="product-field"  /><br /><br />
                                                    <label for="txtDescription" >Description:</label>
                                                    <input type="text" id="txtDescription" name="Description" v-model="crudRow.description"
                                                        class="product-field"  /><br /><br />
                                                    <label for="txtSalesStartDate" >Sales Start Date:</label>
                                                    <input type="text" id="txtSalesStartDate" name="SalesStartDate" v-model="crudRow.salesStartDate"
                                                        class="product-field"  /><br><br />
                                                    <label for="txtImage" >Image:</label>
                                                    <input type="text" id="txtImage" name="Image" v-model="crudRow.image"
                                                        class="product-field"  />
                                                </fieldset>                                    
                                            </div>
                                        </div>
                                    </td>
                                    <!-- :src="url" -->
                                    <td rowspan="2" style="width:40%; vertical-align:top;">
                                        <div class="block picture-cont" v-for="fit in fits" :key="fit">
                                            <el-image id="picProductImage" class="product-image"
                                            v-bind:src="'http://localhost:5035/api/Products/GetProductImage/' + (crudRow.image.length > 0 ? crudRow.image : 'blankImage.jpg')"
                                            :fit="fit"></el-image>    
                                        </div>
                                    </td>
                                    <td rowspan="2" style="width:20%; vertical-align:top;"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="button-cont">
                                            <input type="submit" id="btnProductUpdate" value="Update" 
                                                class="btn btn-warning base-button crud-button update-button el-button--mini" 
                                                @click="btnProductUpdateClick">
                                            <input type="submit" id="btnProductInsert" value="Insert" 
                                                class="btn btn-success insert-button base-button crud-button el-button--mini" 
                                                @click="btnProductInsertClick">                                        
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </section>
                    </template>
                </section>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script id="gridScript">
        var emptyProduct = {
            code: '',
            name: '',
            description: '',
            salesStartDate: '',
            image: "",
        }      

        var Main = {
            data() {
                return {
                    products: [],
                    gridFullData: [],
                    gridCurrentPageData: [],
                    gridCurrentPageIndex: 0,
                    crudRow: emptyProduct,
                    currentPageIndex: 1,
                    search: '',
                    sortObj: null,
                    pageSize: 5,
                    fits: ['contain'],
                    url: 'https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg',
                }
            },            
            methods: {
                handleEdit(index, row) {
                    crudRow = row;
                },
                handleDelete(index, row) {                    
                    _deleteProduct(index, row.code);
                },
                handleCurrentChange(val) {
                    if (val) {
                        if (Number.isInteger(val)) {                        
                            // page changing
                            app.gridCurrentPageIndex  = val;
                            app.currentPageIndex = val;
                            app.gridCurrentPageData = paginate(app.gridFullData, 5, val);
                        }
                        else {
                            // row selecting
                            this.crudRow = Object.assign({}, val);    
                        }                            
                    }
                },
                handleSortChange(sortObj) {
                    _handleSortChange(sortObj);
                },
                getProducts() {
                    _getProducts();
                },
                btnProductUpdateClick() {
                    _updateProduct(this.crudRow);
                },
                btnProductInsertClick() {
                    _insertProduct(this.crudRow);    
                },
            },
            mounted() {
                _getProducts();
            },
        }
        //********************************
        var Ctor = Vue.extend(Main)
        app = new Ctor().$mount('#app')
        //********************************

        function _getProducts() {
            axios
                    .get("http://localhost:5035/api/Products")
                    .then(response => {
                        app.gridFullData = response.data;
                        app.gridCurrentPageData = paginate(app.gridFullData, 5, 1);
                    });
        }

        function _handleSortChange(sortObj) {
            app.sortObj = sortObj;
            var sortDir = sortObj.order;
            var bAscending = sortDir == "ascending" ? true : false;
           
            _sortGrid(sortObj.prop, bAscending);
                    
            app.gridCurrentPageData = paginate(app.gridFullData, 5, 1);
            app.gridCurrentPageIndex = 1;
            app.currentPageIndex = 1;
            app.crudRow = emptyProduct;
        }

        function _sortGrid(prop, bAscending) {
            switch(prop) {
                case "code":
                    if (bAscending) {
                        app.gridFullData.sort((a,b) => (a.code > b.code) ? 1 : ((b.code > a.code) ? -1 : 0));                                
                    } else {
                        app.gridFullData.sort((a,b) => (a.code < b.code) ? 1 : ((b.code < a.code) ? -1 : 0));                                
                    }
                    
                    break;
                case "name":
                    if (bAscending) {
                        app.gridFullData.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));
                    } else {
                        app.gridFullData.sort((a,b) => (a.name < b.name) ? 1 : ((b.name < a.name) ? -1 : 0));
                    }
                    
                    break;
                case "description":
                    if (bAscending) {
                        app.gridFullData.sort((a,b) => (a.description > b.description) ? 1 : ((b.description > a.description) ? -1 : 0));
                    } else {
                        app.gridFullData.sort((a,b) => (a.description < b.description) ? 1 : ((b.description < a.description) ? -1 : 0));
                    }
                    
                    break;
                case "salesStartDate":
                    if (bAscending) {
                        app.gridFullData.sort((a,b) => (a.salesStartDate > b.salesStartDate) ? 1 : ((b.salesStartDate > a.salesStartDate) ? -1 : 0));
                    } else {
                        app.gridFullData.sort((a,b) => (a.salesStartDate < b.salesStartDate) ? 1 : ((b.salesStartDate < a.salesStartDate) ? -1 : 0));
                    }
                    
                    break;
                default:
                    app.gridFullData.sort((a,b) => (a.code > b.code) ? 1 : ((b.code > a.code) ? -1 : 0));
            } 
        }

        function _deleteProduct(index, code) {
            axios
                    .delete("http://localhost:5035/api/Products/" + code, {
                        headers: {
                        'Access-Control-Allow-Origin': '*',
                    }})
                    .then(response => {
                        if (response.status < 500) {
                            var item = app.gridFullData.find((element) => element.code == code);
                            var itemIndex = app.gridFullData.indexOf(item);
                            var pageIndex = app.gridCurrentPageIndex;

                            if (itemIndex !== -1) {
                                app.gridFullData.splice(itemIndex, 1); // 2nd parameter means remove one item only
                                let currentPageData = paginate(app.gridFullData, 5, app.gridCurrentPageIndex);

                                if (currentPageData.length == 0) {
                                    app.gridCurrentPageIndex -= 1;
                                    pageIndex -= 1;
                                }

                                app.gridCurrentPageData = paginate(app.gridFullData, 5, pageIndex);

                                app.crudRow = emptyProduct;
                            }

                            alert('The product was deleted');
                        }
                        else {
                            alert('There was system error!');                                
                        }
                    });
        }

        function _updateProduct(crudObject){
            axios
                    .put("http://localhost:5035/api/Products/" + crudObject.code,
                    crudObject )
                    .then(response => {
                        if (response.status < 500) {
                            let dataRow;
                            
                            dataRow = app.gridFullData.find((element) => element.code == crudObject.code);
                            dataRow.name = crudObject.name;
                            dataRow.description = crudObject.description;
                            dataRow.salesStartDate = crudObject.salesStartDate;
                            dataRow.image = crudObject.image;                            

                            dataRow = app.gridCurrentPageData.find((element) => element.code == crudObject.code);
                            dataRow.name = crudObject.name;
                            dataRow.description = crudObject.description;
                            dataRow.salesStartDate = crudObject.salesStartDate;
                            dataRow.image = crudObject.image;
                            
                            alert('The product was updated');
                        }
                        else {
                            alert('There was system error!');                                
                        }
                    });
        }

        function _insertProduct(crudObject){
            axios
                    .post("http://localhost:5035/api/Products",
                    crudObject )
                    .then(response => {                        
                        if (response.status < 500) {
                            crudObject.code = response.data;

                            app.gridFullData.push(crudObject);

                            if (app.sortObj) {
                                _sortGrid(app.sortObj.prop, app.sortObj.order)
                            }                            
                            
                            app.gridCurrentPageData = paginate(app.gridFullData, 5, app.gridCurrentPageIndex);
                            
                            alert('The product was inserted');
                        }
                        else {
                            alert('There was system error!');                                
                        }
                    });
        }

        function paginate(array, page_size, page_number) {
            // human-readable page numbers usually start with 1, so we reduce 1 in the first argument
            return array.slice((page_number - 1) * page_size, page_number * page_size);
        }
    </script>
</body>
</html>